<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Env</title>
    <style>
        body{
            margin: 100px auto;
            text-align: center;
            font-size: larger;
        }
    </style>
</head>
<body>
   <h1>Sudoku Solver</h1>
    <div class="formDiv">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label>Input the image</label>
            <br/>
            <input type="file" accept="image/*" name="file"/>
            <br />
            <br />
        <button type="submit">Solve</button>
        </form>
    </div>
</body>
</html>